<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ShoppingCartResponseModel"
                   type="com.catmmao.wechatshop.model.response.ShoppingCartResponse"/>
        <typeAlias alias="Shop" type="com.catmmao.wechatshop.generated.Shop"/>
        <typeAlias alias="GoodsWithNumber" type="com.catmmao.wechatshop.model.GoodsWithNumber"/>
        <typeAlias alias="GoodsOnlyContainGoodsIdAndNumber" type="com.catmmao.wechatshop.api.data.GoodsIdAndNumber"/>
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/mapper/generated/UserMapper.xml"/>
        <mapper resource="db/mybatis/mapper/generated/GoodsMapper.xml"/>
        <mapper resource="db/mybatis/mapper/generated/ShopMapper.xml"/>
        <mapper resource="db/mybatis/mapper/generated/ShoppingCartMapper.xml"/>
        <mapper resource="db/mybatis/mapper/ShoppingCartQueryMapper.xml"/>
        <mapper resource="db/mybatis/mapper/GoodsStockMapper.xml"/>
    </mappers>
</configuration>